<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>@ViewData["Title"] - NS_ASP</title>
</head>

<body>
    <div class="main-layout">
        <div class="header-layout">
            <h1>Перевод систем счисления<h1>
        </div>
        @RenderBody()
        <footer>
            <p>&copy; Translation of number system | marksapovalov22@gmail.com</p>
        </footer>
    </div>
</body>

</html>
