@model NS_ASP.Models.ViewModels.TranslateViewModel


@if (ViewData.ModelState.IsValid == false)
{
    foreach (var error in ViewData.ModelState.Values.SelectMany(value => value.Errors))
    {
        <p>@error.ErrorMessage</p>
    }
}
<div>
    <div>
        <h1>Перевод</h1>
    </div>
    <div>
        <form asp-action="TranslationPost" method="post">
            <span asp-validation-for="System"></span>
            <span asp-validation-for="Number"></span>
            <span asp-validation-for="SystemOfNumber"></span>
            <input asp-for="Number" placeholder="число" />
            <input asp-for="SystemOfNumber" placeholder="с.с. числа" />
            <input asp-for="System" placeholder="система счисления" />


            <input type="submit" value="Перевести" />
        </form>
    </div>
    @if (@ViewBag.Result != null)
    {
        <div style="display:flex; flex-direction: column; align-items: center; margin-top: 40px;">
            Результат перевода:
            <h1 style="text-align: center;">@ViewBag.Result</h1>
        </div>
    }

</div>
