@model NS_ASP.Models.ViewModels.TranslateViewModel

<div>
    <div>
        <h1>Перевод</h1>
    </div>
    <div>
        <form asp-action="Translation" method="post">
            <input asp-for="System" placeholder="система счисления" />
            <input asp-for="Number" placeholder="число" />
            <input asp-for="SystemOfNumber" placeholder="с.с. числа" />
            <input type="submit" value="Перевести" />
        </form>
    </div>
</div>
