@model int

<div>
    <div>
        <h1>Translation</h1>
    </div>
    <div>
        <form>
            <input name="system" placeholder="system" />
            <input name="number" placeholder="number" />
            <input type="submit" value="Перевести" />
        </form>
    </div>
</div>
